<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="RESTAPI">
    <classes>
      <class name=".first"/>
      <class name=".second"/>
      <class name=".twitter"/>
      <class name=".third"/>
      <class name=".jsonoutput"/>
    </classes>
  </test> <!-- RESTAPI -->
</suite> <!-- Suite -->
